.logo {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1.2;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: $color-secondary;
  background-color: $color-primary-dark;
  padding: 1.2rem;
  width: 7rem;
  z-index: 120;
  text-align: center;

  &__main {
    width: 100%;
  }

  &__sub {
    font-size: 1rem;
    color: $color-grey-light-1;
  }

  &__color {
    color: $color-grey-light-1;
  }
}