.navigation {
  width: 7rem;
  transform: translate(-7rem);
  height: 100%;
  position: fixed;
  background-color: $color-primary;
  transition: transform 0.3s 0.1s ease-in-out;
  z-index: 110;

  @include respond(phone-large) {
    transform: translate(0);
  }

  &__open {
    transform: translate(0);
    transition: transform 0.3s 0.1s ease-in-out;
  }

  &__menu-list {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__social-list {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2rem;
  }

  &__social-item {
    list-style: none;
    margin: 1.5rem 0;
  }

  &__social-link {
    padding: 1rem;

    &:hover .navigation__social-icon {
      fill: $color-grey-light-1;
    }
  }

  &__social-icon {
    fill: $color-grey-dark-1;
    width: 1.5rem;
    height: 1.5rem;
    transition: fill .3s;
  }

  .navigation__menu-item {
    list-style: none;
    margin: 0.5rem 0;
    width: 100%;
    text-align: center;
  }
  
  &__menu-link {
    border: none;
    background-color: transparent;
    color: $color-grey-dark-1;
    cursor: pointer;
    padding: 1.2rem 0;
    font-size: 1rem;
    letter-spacing: 1px;
    width: 100%;
    position: relative;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    display: block;
  
    &__icon {
      width: 2.2rem;
      height: 2.2rem;
      fill: $color-grey-dark-1;
      transition: fill 0.3s;
    }
  
    &__name {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $color-grey-light-1;
      text-transform: uppercase;
      opacity: 0;
      transition: opacity 0.3s;
    }
  
    &:hover .navigation__menu-link__icon {
      fill: lighten($color-primary, 6%);
    }
  
    &:hover .navigation__menu-link__name {
      opacity: 1;
    }
  }
}
