// COLORS
$color-primary: #181818;
$color-primary-light: #1d1d1d;
$color-primary-dark: #070707;

$color-secondary: #55c57a;

$color-grey-light-1: #08fdd8;

$color-grey-dark-1: #494949;

$color-white: #fff;
$color-black: #000;
$color-success: #55c57a;
$color-danger: #F50057;

// FONT
$default-font-size: 1.6rem;
$font-primary: 'Montserrat',
sans-serif;