.spinner {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 300;
  background-color: $color-primary;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  animation: move-out .5s .9s forwards;

  &__text {
    &-main {
      font-style: italic;
      color: $color-grey-light-1;
      margin-bottom: .2rem;
    }

    &-sub {
      margin-bottom: .8rem;
      font-size: 1.2rem;
      letter-spacing: 1px;
    }
  }

  &__progress-bar {
    width: 23rem;
    height: .3rem;
    background-color: $color-grey-dark-1;
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 23rem;
      height: .3rem;
      background-color: $color-grey-light-1;
      transform: translateX(-23rem);
      animation: progress-move .8s .1s linear;
      box-shadow: 0 1rem 2rem rgba($color-grey-dark-1, .3);
    }
  }
}

@keyframes progress-move {
  to {
    transform: translateX(0);
  }
}

@keyframes move-out {
  to {
    opacity: 0;
  }
}